.mdl-layout

    &__header
        background-color: #221436
        font-family: 'Segoe-UI'

    &__drawer    
        background-color: #221436
        border-right: 0px

    &-title    
        color:#fff!important

.mdl-navigation

    &__link
        color:#fff!important
        
        &:hover
            background-color: #E30286!important      

@media screen and (max-width: 1024px)
    .mdl-layout__drawer-button 
        margin: 4px
        color: white
